body{
    font-family: cursive;
    font-size: 2.5vw;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
        scroll-behavior: smooth;
    background-color: wheat;
}
header{
    display: flex;
    background-color: wheat;
    width: 100%;
}
 .content{
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}
.sidebar{
    display: flex;
    flex:1 ;
    width: 3vw;
    background-color:rgba(252, 224, 201, 0.918);
    height: 100vh;
    top: 0;
    scroll-behavior: smooth;
    position: sticky;
    padding-right: 20px;
}
li {
    list-style-type: none;
    flex: 1;
    padding-bottom: 50px;
}
a, li a:after{
    text-decoration: none;
    color: black;
}
li a:hover,li a:active{
    color: aquamarine
}
.img{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 70vw;
}
footer{
    display: flex;
}
form{
    display: flex;
    flex-direction: column;
    font-size: 4vw;
    background-color:burlywood;

}
legend{
            text-align:right;
}
fieldset{
        border: 0;
        font-size: 4vw;
}
p{
        display: flex;
    flex-direction: column;
    font-size: 4vw;
    text-align: center;
    width: 90vw;
}
input{
    font-size: 4vw;
} textarea{font-size: 3.4vw;}
.last{
    text-align: left;
}
@media screen and (max-width:480px) {
    .content{
        display: flex;
        flex-direction: column;
        font: 300px;
    }
    .sidebar{
        width: 100vw;
        height: 10vw;
        padding: 0;
        opacity:0.9;
    }
   li{
        padding: 0;
    }
    .img{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
}


